<header
    class="relative bg-gray-800 after:pointer-events-none after:absolute after:inset-x-0 after:inset-y-0 after:border-y after:border-white/10">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-white text-center">
            Password Generator
        </h1>
    </div>
</header>
<main>
    <div class="min-h-screen mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
        <!-- Your content -->

        <div class="h-full isolate bg-gray-900 px-6 rounded-xl sm:py-6 lg:px-8">
            <form class="mx-auto mt-8 max-w-xl sm:mt-10">
                <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                    <div class="sm:col-span-2 flex items-center justify-center gap-4  w-full">
                        <label for="length" class=" block text-sm/6 font-semibold text-white">LENGTH</label>
                        <div class="mt-2.5">
                            <input id="length" type="number" name="length" autocomplete="length" (input)="onChangeLength($event)"
                                class="block w-full rounded-md bg-white/5 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500" />
                        </div>
                    </div>
                    <div class="flex gap-x-4 sm:col-span-2">
                        <div class="flex h-6 items-center">
                            <div
                                class="group relative inline-flex w-8 shrink-0 rounded-full bg-white/5 p-px inset-ring inset-ring-white/10 outline-offset-2 outline-indigo-500 transition-colors duration-200 ease-in-out has-checked:bg-indigo-500 has-focus-visible:outline-2">
                                <span
                                    class="size-4 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-3.5"></span>
                                <input [checked]="linkLetters()" id="useLetters" type="checkbox" name="useLetters" (change)="onClickLetters()"
                                    aria-label="useLetters"
                                    class="absolute cursor-pointer inset-0 size-full appearance-none focus:outline-hidden" />
                            </div>
                        </div>
                        <label for="useLetters" class="text-sm/6 text-gray-400">
                            Use Letters
                        </label>
                    </div>
                    <div class="flex gap-x-4 sm:col-span-2">
                        <div class="flex h-6 items-center">
                            <div
                                class="group relative inline-flex w-8 shrink-0 rounded-full bg-white/5 p-px inset-ring inset-ring-white/10 outline-offset-2 outline-indigo-500 transition-colors duration-200 ease-in-out has-checked:bg-indigo-500 has-focus-visible:outline-2">
                                <span
                                    class="size-4 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-3.5"></span>
                                <input [checked]="linkNumbers()" id="useNumbers" type="checkbox" name="useNumbers" (change)="onClickNumbers()"
                                    aria-label="useNumbers"
                                    class="absolute cursor-pointer inset-0 size-full appearance-none focus:outline-hidden" />
                            </div>
                        </div>
                        <label for="useNumbers" class="text-sm/6 text-gray-400">
                            Use Numbers
                        </label>
                    </div>
                    <div class="flex gap-x-4 sm:col-span-2">
                        <div class="flex h-6 items-center">
                            <div
                                class="group relative inline-flex w-8 shrink-0 rounded-full bg-white/5 p-px inset-ring inset-ring-white/10 outline-offset-2 outline-indigo-500 transition-colors duration-200 ease-in-out has-checked:bg-indigo-500 has-focus-visible:outline-2">
                                <span
                                    class="size-4 rounded-full bg-white shadow-xs ring-1 ring-gray-900/5 transition-transform duration-200 ease-in-out group-has-checked:translate-x-3.5"></span>
                                <input [checked]="linkSymbols()" id="useSymbols" type="checkbox" name="useSymbols" (change)="onClickSymbols()"
                                    aria-label="useSymbols"
                                    class="absolute cursor-pointer inset-0 size-full appearance-none focus:outline-hidden" />
                            </div>
                        </div>
                        <label for="useSymbols" class="text-sm/6 text-gray-400">
                            Use Symbols
                        </label>
                    </div>
                </div>
                <div class="mt-10">
                    <button [disabled]="!(length() && (linkLetters() || linkNumbers() || linkSymbols()))" (click)="onButtonClick()" type="button"
                        class="block w-full cursor-pointer rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                        Generate!
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>